@font-face {
    font-family: 'EvolventaBold'; 
	src: url('../fonts/ttf/Evolventa-Bold.ttf') format('truetype'),
	url('../fonts/woff/Evolventa-Bold.woff') format('woff'),
	url('../fonts/otf/Evolventa-Bold.otf') format('opentype');	
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'EvolventaBoldOblique'; 
	src: url('../fonts/ttf/Evolventa-BoldOblique.ttf') format('truetype'),
	url('../fonts/woff/Evolventa-BoldOblique.woff') format('woff'),
	url('../fonts/otf/Evolventa-BoldOblique.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'EvolventaOblique'; 
	src: url('../fonts/ttf/Evolventa-Oblique.ttf') format('truetype'),
	url('../fonts/woff/Evolventa-Oblique.woff') format('woff'),
	url('../fonts/otf/Evolventa-Oblique.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'EvolventaRegular'; 
	src: url('../fonts/ttf/Evolventa-Regular.ttf') format('truetype'),
	url('../fonts/woff/Evolventa-Regular.woff') format('woff'),
	url('../fonts/otf/Evolventa-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
	padding:0;
	margin:0;
	background-color:#fff;
}
html,body {
	font-family: 'EvolventaRegular';
	font-size:16px;
	line-height:21px;
	/*color:#000;*/
}
.full-page {
	padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.wrap-section {
	width:100%;
	padding:0;
	margin:0;
}
.section {
	margin:0 auto;
	width:100%;
	padding:0 9px;
	max-width:1012px;
}
.logo {
	display:inline-block;
}
.logo a {
    display: inline-block;
    margin: 8px 0 8px 0;
}
.logo a img{
	-o-transition:opacity 0.75s;-ms-transition:opacity 0.75s;-moz-transition:opacity 0.75s;-webkit-transition:opacity 0.75s;transition:opacity 0.75s;
}
.logo a:hover img {
	opacity:0.5;
	-o-transition:opacity 0.75s;-ms-transition:opacity 0.75s;-moz-transition:opacity 0.75s;-webkit-transition:opacity 0.75s;transition:opacity 0.75s;
}
.phone-block {
	text-align:right;
}
.phone-block a,.phone-block a:hover,.phone-block a:focus,.phone-block a:visited,.phone-block a:active {
	font-family: 'EvolventaBold';
	font-size: 24px;
	line-height: 32px;
	display: inline-block;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	margin: 0;
	letter-spacing: 0.2px;
}
.phone-block span {
	display:block;
    font-size: 14px;
    line-height: 19px;
}
.wrap-section.header {
	display: table;
	margin: 0 auto;
	width: 100%;
	padding: 0 9px;
	max-width: 1012px;
}
.wrap-section.header .section {
	display:table-row;
    padding: 0;
}
.wrap-section.banner .section {
		padding: 53px 9px 64px 9px;
		position:relative;
}
.wrap-section.banner .section .bgr {
	position: absolute;
	top: 57px;
	right: -5%;
	left: 420px;
	bottom: -27.5%;
	background-color: transparent;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 2;
}
.wrap-section.banner .section img{
    position: absolute;
    left: 426px;
    bottom: -118px;
    max-width: 63%;
	z-index:3;
}
.wrap-section.header .logo,.wrap-section.header .phone-block {
	display:table-cell;
	vertical-align:middle;
}
.wrap-section.banner {
    background-color: #e62a42;
    background-image: url(../img/bgr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.wrap-section.banner .text {
	width: 420px;
}
.wrap-section.banner p.title {
	color: #fff;
	font-size: 90px;
	line-height: 85px;
	padding: 0;
	margin: 0 0 28px 0;
	font-family: 'EvolventaBold';
}
.wrap-section.banner span {
	color:#fff;
	font-size:24px;
	line-height:normal;
}
.wrap-section.popular .section {
	max-width: 1130px;
	padding: 100px 12px 100px;
	position: relative;
}
.wrap-section.popular .row {
	margin:0 -12px;
}
.popular-block {
	float: right;
	width: 73%;
	margin: 0;
	position: relative;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-basis: initial;
	-webkit-flex-basis: initial;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.popular-block .item {
	text-align:center;
	padding:0 12px;
}
.popular-block .item img {
	width:100%;
	max-width:249px;	
}
.wrap-section.popular p.title {
	color: #000000;
	font-size: 38px;
	line-height: 51px;
	padding: 0 0 0 23.5%;
	margin: 0 0 22px 0;
	width: 100%;
}
.popular-block p {
	font-family: 'EvolventaBold';
	color: #000000;
	font-size: 24px;
	line-height: 21px;
	margin: 15px 0 25px 0;
}
.popular-block span {
	font-family: 'EvolventaRegular';
	display:block;
	color: #000000;
	font-size: 16px;
	line-height: 21px;
}
.bgr-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	background-position: 0px bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 39%;
	left: -11.3%;
}
.wrap-section.catalog {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/bgr03.png');
	text-align:center;
}
.wrap-section.catalog .section{
	padding:35px 9px 35px;
}
h2 {
    font-family: 'EvolventaBold';
    font-size: 72px;
    line-height: 96px;
    margin:0;
    padding:0;
}
.wrap-section.catalog p.title {
	font-size:36px;
	line-height:46px;
	padding:0;
	margin:0 0 25px 0;
}
.wrap-section.catalog .row,.wrap-section.collection .row {
	margin: 0 -9px;
    position: relative;
}
.wrap-section.catalog .item:nth-child(3n+4){clear: both;}
.wrap-section.catalog .item {
	padding:9px;
}
.wrap-section.collection .row {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}
.wrap-section.collection .item {
	padding:45px 9px 17px 9px;
}
.item-block {
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 12px 15px 132px 15px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.item-image {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0 auto 46px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 306px;  
}
.collection .item-image {
	background-size: auto;
}
.wrap-section.collection .item-image {
	margin: 0 auto 9px;
}
.wrap-section.collection .item .item-image {
	height: 166px;
	max-width: 270px;
}
.item-name,.item-name:hover,.item-name:focus,.item-name:visited {
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	line-height: 21px;
	font-family: 'EvolventaBold';
}
.wrap-section.catalog .item span,.wrap-section.collection .item span  {
	display: block;
	color: #2f2f2f;
	font-size: 16px;
	line-height: 20px;
	margin: 6px 0 0 0;
}
.wrap-section.collection .item span  {
	margin: 4px 0 0 0;
}
.item-buttonprice {
	position:absolute;
	bottom:20px;
	left:15px;
	right:15px;
}
.item-buttonprice p {
	color:#000000;
	font-size:24px;
	line-height:32px;
	white-space:nowrap;
	padding:0;
	margin: 0 0 8px 0;
}
.item-buttonprice a,.button-red , .button-red{
	background-color: #e42838;
	padding: 14px 9px 11px;
	border:1px solid #e42838;
	display: block;
	margin: 0 auto;
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	white-space: nowrap;
	font-family: 'EvolventaBold';
	max-width: 196px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	outline: medium none;
	-o-transition:background-color 0.75s;-ms-transition:background-color 0.75s;-moz-transition:background-color 0.75s;-webkit-transition:background-color 0.75s;transition:background-color 0.75s;
}
.item-buttonprice a:hover,.call-back a:hover,.black-block a:hover,a.button-red:hover,.button-red:hover,.call-back a:hover,.call-back a:hover
{
	background-color: #a1010d;
	border-color:#74151d;
	text-decoration: none;
	color: #fff;
}
.wrap-section.collection-banner {
background-color: #e62a42;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/bgr04.png);
    text-align: center;
    margin: 0 0 194px 0;
}
h1 {
	color: #fff;
	font-size: 90px;
	line-height: 95px;
	padding: 44px 0 0 0;
	margin: 0 0 20px 0;
	font-family: 'EvolventaBold';
	text-transform: uppercase;
	letter-spacing: -1.2px;
}
.wrap-section.collection-banner p.title {
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	margin:0 0 39px 0;
	padding: 0;
}
.wrap-section.collection-banner img {
	max-width: 100%;
	margin: 0 0 -194px 0;
	padding: 0;
}
.wrap-section.collection {
	text-align:center;
}
.wrap-section.collection p.title {
	font-size: 30px;
	line-height: normal;
	color: #000;
	margin: 0 0 0 0;
	padding: 18px 0 0 0;
	font-family: 'EvolventaBold';
}
.border-block {
	border: 4px solid #e62a42;
	margin: 38px 0 0 0;
	border-radius: 5px;
	display: table;
	width: 100%;
	padding:0;
	position:relative;
}
.border-block .border-row {
	display:table-row;
}
.border-block  .item-buttonprice,.offer {
	display: table-cell;
    vertical-align: middle;
}
.with-img .img {
	position:absolute;
}
.border-block  .item-buttonprice {
    position: static;
	text-align:left;
	padding: 0 9px 0 4.3%;
}
.offer  {
	padding: 45px 0 50px 5.6%;
    width: 65%;
    /*background: transparent url(../img/bgr01.png) no-repeat center center;*/
	z-index: 2;
}
.with-img .offer {
    padding:61px 0 34px 20.6%;
    width: 61%;
	text-align:right;
}
.border-block.with-img  .item-buttonprice {
    padding: 22px 9px 0 8.5%;
}
.border-block.with-img  .image {
	position: absolute;
	top: 14px;
	bottom: 0;
	left: -7.6%;
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 33%;
}
.offer p.title {
	font-family: 'EvolventaBold';
	color: #e62a42;
	font-size: 48px;
	line-height: 58px;
	padding: 0;
	margin: 0;
}
.offer p.clock {
	font-family: 'EvolventaRegular';
	color: #000;
	font-size: 18px;
	line-height: 26px;
	padding: 0;
	margin: 15px 0 0 0;
	background: transparent url("../img/clock-circular-outline.svg") no-repeat 4px 0px;
	background-size: 24px 24px;
	padding: 0 0 0 35px;
	text-align: left;
}
.border-block.with-img  .offer p.clock  {
	float:right;
	margin: 25px 0 0 0;
}
.border-block.with-img  .offer p.title {
    line-height: 53px;
    position: relative;
    z-index: 3;
}
.border-block  .item-buttonprice a {
	margin:5px 0 0 0 ;
}
.border-block  .item-buttonprice p {
    font-family: 'EvolventaBold';
    font-size: 72px;
    line-height: 77px;
    white-space: nowrap;
    padding: 0;
    margin: 0 0 0 0;
    position: relative;
    left: -11px;
}
.border-block  .item-buttonprice p.last-price {
    font-size: 20px;
    line-height: normal;
    padding: 0;
    margin: 18px 0 0px 0;
    font-family: 'EvolventaRegular';
    text-decoration: line-through;
    white-space: nowrap;
    left: 0;
}
.wrap-section.slider {
	background-color: #000;
	color: #fff;
	text-align: center;
	margin: 54px 0 0 0;
}
.wrap-section.slider .section {
	padding-top: 44px;
	padding-bottom: 171px;
	position: relative;
    z-index: 4;
}
.wrap-section.slider p {
color: #fff;
font-size: 24px;
line-height: 36px;
text-align: center;
margin: 0 0 6px 0;
}
.wrap-section.slider p.min-title{
	max-width: 760px;
    margin: 0 auto;
}
.wrap-section.slider p.title {
font-family: 'EvolventaBold';
font-size: 55px;
line-height: 73px;
letter-spacing: -0.1px;
margin: 0 0 5px 0;
padding: 0;
}
.owl-carousel .item {
	padding:9px 9px 0;
}
.owl-carousel .item a {
display: block;
    margin: 9px 0 9px 0;
    float: left;
    width: 100%;
    text-align: center;
	outline: medium none;
}
.owl-carousel .item img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.slider .row {
	margin:0 -9px;
}
.owl-controls .owl-page {
    cursor: pointer;
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4.5px;
    display: inline-block;
    border: 1px solid #fff;
}
.owl-controls .owl-page.active {
    background: #fff;
}
.owl-carousel .owl-wrapper-outer {
	margin-bottom:20px;
}
.footer {
	text-align:center;
}
.footer p {
	font-size: 14px;
    line-height: 19px;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.footer .section
{
	padding: 79px 9px;
}
.call-back {
	text-align:center;
	position:relative;
}.call-back *{
	position:relative;
	z-index:3;	
}
.call-back .section:before {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 340px;
    top: -267px;
    margin: 0 auto -340px;
    z-index: 2;
    background: transparent url(../img/lips.png) no-repeat center center;
    background-size: 100% auto;
    max-width: 300px;
}
.call-back .section {
padding-top: 130px;
padding-bottom: 109px;
}
.call-back p.title{
	font-family: 'EvolventaBold';
	color: #010101;
	font-size: 52px;
	line-height: 69px;
	margin: 0 0 20px 0;
	padding: 0;
	letter-spacing: -0.5px;
}
.call-back input,.call-back input:hover,.call-back input:focus,.modal input, .modal input:hover, .modal input:focus {
	font-size: 48px;
	line-height: 67px;
	border-bottom: 1px solid #0e0e0e;
	border-top: medium none;
	border-left: medium none;
	border-right: medium none;
	box-shadow: none;
	outline: medium none;
	color: #0e0e0e;
	text-align: center;
	padding: 0 9px;
	clear: both;
	display: block;
	margin: 0 auto 32px;
}
.modal input, .modal input:hover, .modal input:focus {
	font-size: 24px;
	line-height: normal;
	margin-bottom:58px ;
}
.call-back a,.black-block a{
	background-color: #e42838;
	padding: 15px 35px 12px;
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	white-space: nowrap;
	font-family: 'EvolventaBold';
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	outline: medium none;
	-o-transition:background-color 0.75s;-ms-transition:background-color 0.75s;-moz-transition:background-color 0.75s;-webkit-transition:background-color 0.75s;transition:background-color 0.75s;
}
a:hover,a:focus{-o-transition:background-color 0.75s;-ms-transition:background-color 0.75s;-moz-transition:background-color 0.75s;-webkit-transition:background-color 0.75s;transition:background-color 0.75s;}
.black-block .section {
padding-top: 75px;
padding-bottom: 106px;
position:relative;
}
.black-block .section img {
    position: absolute;
    bottom: 0;
    left: -8%;
    max-width: 39%;
}
.black-block {
	background-color:#000;
}
.black-block p {
color: #fff;
font-size: 16px;
line-height: 21px;
padding: 0;
margin: 0 0 24px 0;
text-transform: uppercase;
}
.black-block p.title {
font-family: 'EvolventaBold';
color: #fff;
font-size: 60px;
line-height: 62px;
padding: 0;
margin: 0 0 50px 0;
}
.black-block .text{
	padding:0 0 0 40%;
}
.black-block a.sub {
	position:relative;
	padding-left: 77px;	
}
.black-block a.sub:after {
content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
	top: 13px;
	left: 27px;
    background: transparent url(../img/instagram.svg) no-repeat 0 0;
}
.modal-body {
	padding-bottom:36px;
}	
.modal-backdrop.in {
    opacity: .76;
}
.modal-dialog {
	display: table;
    width: 100%;
    max-width: 797px;
    margin: 0 auto;
    height: 100%;
    padding: 0 9px;
}
.wraper-mod {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.modal-header {
padding: 30px 9px 50px;
text-align: center;
position:relative;
border-bottom:medium none;
}
.modal-header .close{
	position: absolute;
top: 16px;
right: 16px;
width: 26px;
height: 26px;
opacity:1;
outline:medium none;
background: transparent url(../img/cross-out.svg) no-repeat 0 0;
}
.modal-header p {
font-size: 24px;
line-height: 32px;
margin: 0;
}
.modal-header p.title {
font-size: 48px;
font-family: 'EvolventaBold';
line-height: 64px;
margin: 0;
}
@media (max-width: 1023px) {
.with-img .offer {
    padding: 45px 0 50px 5.6%;
	text-align: left;
}
.border-block.with-img .offer p.clock {
    float: left;
    margin: 15px 0 0 0;
}
.border-block.with-img  .image {
	display:none;
}
.border-block.with-img .offer p.title {
    line-height: 58px;
}
.border-block.with-img .item-buttonprice {
    padding: 0 9px 0 4.3%;
}
.wrap-section.popular p.title {
    padding: 0;
    text-align: center;
}
}
@media (max-width: 767px) {
	.border-block.with-img .image {
    position: static;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100px;
    margin: 0 auto;
	display:block;
}
.wrap-section.header,.wrap-section.header,.wrap-section.header .section,.wrap-section.header .logo, .wrap-section.header .phone-block {
	display:block;
	width:100%;
	text-align:center;
}
.wrap-section.header .phone-block {padding-bottom:8px;}
.wrap-section.banner p.title {font-size: 25px;line-height: 33px;}
.wrap-section.banner span {font-size: 20px;line-height: 20px;text-align: center;}
.wrap-section.banner .section img {position: relative;bottom: -118px;max-width: 63%;z-index: 3;margin: 0 auto;display: block;}
.wrap-section.banner .section {padding: 20px 9px 0 9px;position: relative;}
.wrap-section.banner .text {width: 100%;margin: 0 0 -35px 0; text-align: center;}
.wrap-section.banner .section img {position: relative;bottom: -70px;max-width: 63%;z-index: 3;margin: 0 auto;display: block;left:auto;}
.with-img .offer, .offer {
	padding: 20px 9px 20px 9px;
    text-align: center;
    width: 100%;
}
.border-block  .item-buttonprice, .offer,.border-block .border-row {display:block;}
.border-block.with-img .offer p.title,.border-block .offer p.title,.modal-header p.title {
    line-height: normal;
    font-size: 24px;
    text-align: center;
}
.wrap-section.banner p.title{
    font-size: 50px;
	line-height:normal;
}
.offer p.clock {
	font-size: 14px;
}
.border-block.with-img .item-buttonprice,.border-block .item-buttonprice {
    padding: 0 9px 0 9px;
}
.border-block.with-img .offer p.clock,.border-block .offer p.clock  {
    float: none;
    margin: 15px auto 0 auto;
    display: inline-block;
}
.border-block
{
	padding-top: 10px;
    padding-bottom: 20px;
}
.border-block .item-buttonprice a {
    margin: 0 auto;
}
.border-block  .item-buttonprice {
	text-align:center;
}
.border-block  .item-buttonprice p {
	font-size: 30px;
    line-height: 40px;
    left: auto;
}
.border-block  .item-buttonprice p.last-price {margin-top:0;}
.wrap-section.popular p.title {font-size: 23px;line-height: 31px;}
.bgr-block {display:none;}
.popular-block {width:100%;}
.popular-block p {font-size: 20px;line-height: normal;margin: 10px 0 10px 0;}
.popular-block span {font-size: 14px;line-height: normal;}
h2,.wrap-section.slider p.title,.call-back p.title,.black-block p.title {
    font-size: 27px;
    line-height: normal;
}
h1{
    font-size: 38px;
    line-height: normal;
}
.wrap-section.collection p.title,.wrap-section.slider p,.wrap-section.collection-banner p.title,.wrap-section.catalog p.title,.modal-header p {
    font-size: 20px;
    line-height: normal;}
	.wrap-section.catalog .section {
    padding: 20px 9px 20px;
}
.wrap-section.catalog .item.col-xs-6,.wrap-section.collection .item.col-xs-6  {
	width:100%; padding: 0 9px 9px 9px;
}
.wrap-section.collection-banner p.title {margin-bottom:9px;}
.wrap-section.collection-banner img {
    margin: 0 0 -80px 0;
}
.wrap-section.collection-banner { margin: 0 0 80px 0;}
.owl-carousel .item a {
    margin: 0 0 9px 0;
}
.call-back input, .call-back input:hover, .call-back input:focus,.modal input, .modal input:hover, .modal input:focus,.call-back input, .call-back input:hover, .call-back input:focus, .modal input, .modal input:hover, .modal input:focus  {
	font-size: 23px;
    line-height: normal;
}
.wrap-section.popular .section {
    padding: 20px 12px 20px;
}
.item-image {height:150px;}
.wrap-section.catalog .item span, .wrap-section.collection .item span {font-size: 14px;
    line-height: normal;}
	.call-back .section:before {max-width:150px; top: -192px;}
	.wrap-section.slider .section {
    padding-top: 20px;
    padding-bottom: 72px;
}
.call-back .section {
padding-top: 56px;
    padding-bottom: 20px;
}
.black-block .section img {display:none;}
.black-block .text {
    padding: 0;
    text-align: center;
}
.black-block .section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .section {
    padding: 20px 9px;
}
.modal-header .close {
    width: 15px;
    height: 15px;
}
}